body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    background-image: url("./assets/space.webp");
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
    filter: opacity(0.8); 
    margin: 0;
}
/* body::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
} */

.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

h1 {
    color: yellow;
}
    

button {
    width: 8rem;
    padding: 10px 5px;
    background-color:slategrey;
    color: white;
    align-self: center;
    border-radius: 10px;
}

button:hover {
    background-color: yellow;
    color: black;
    box-shadow: 0px 0px 20px yellow;
}


#iss-img {
    /* display: none; */
    width: 50px;
    margin-top: 2rem;
    position: relative;
    animation: move-iss 3s linear 1s 1 both;
}
@keyframes move-iss {
    0% { transform: translate(0px, 200px) rotate(0deg) scale(0.2, 0.2); }
    100% { transform: translate(48.5vw, 10px) rotate(-40deg) scale(1.5, 1.5); }
}


#iss-location {
    display: none;
    align-self: center;
    border: 2px solid rgb(255, 255, 255, 0.5);
    height: 140px;
    width: 400px;
    margin-top: 2rem;
    background-color: hsla(65, 20%, 50%, 0.5);
    border-radius: 10px;
}


.coordinates {
    color: white;
    font-size: large;   
}

p {
    color: white;
}